@page "/"

<PageTitle>Small Task Force</PageTitle>
<MudPaper Class="pa-16 ma-2" Elevation="3">
    <div Class="d-flex justify-center"><MudImage Style="max-width:80%;width:500px;" Src="images/stf-logo.svg"></MudImage></div>
    <MudText Style="font-family:Consolas;font-size:1.4rem;" Class="d-flex justify-center mb-8">Making life simple and easier by building small tasks.</MudText>

    <MudText Class="d-flex justify-center" Style="font-family:Consolas" Typo="Typo.h1">Hello World!</MudText>

    <MudText Style="font-family:Consolas;font-size:1.4rem;">At STF, we understand that life can be busy and hectic.
        That's why we offer <span style="font-size:1.9rem;color:orchid">smart home</span> and <span style="font-size:2.4rem;color:royalblue">automated solutions</span> to help make life a little easier.
        Our team of expert developers also provides <span style="font-size:1.7rem;color:chartreuse">custom software development</span> for businesses,
        aimed at increasing efficiency and streamlining processes. In addition, we offer <span style="font-size:2.2rem;color:orange;">mobile and web app development</span> to bring the convenience of technology to your fingertips.
        Our ultimate goal is to make the lives of our customers better and their businesses more efficient.</MudText>
</MudPaper>
