@page "/"

<PageTitle>Small Task Force</PageTitle>
<style>
    .landing-h1-gradient {
        background: linear-gradient(82deg,#594ae2 0%,#f69 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<MudGrid Class="mb-16 mb-sm-0">
            <MudItem Class="relative" xs="12" md="7" lg="6">
                <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Making Life</MudText>
                <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true" Class="landing-h1-gradient">Simple & Easier<br /></MudText>
                <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true">by Building</MudText>
                <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Small Tasks.</MudText>
                <div class="pl-1 my-4">
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                        At STF, we understand that life can be busy and hectic.
        That's why we offer smart home and automated solutions to help make life a little easier.
        Our team of expert developers also provides custom software development for businesses,
        aimed at increasing efficiency and streamlining processes. In addition, we offer mobile and web app development to bring the convenience of technology to your fingertips.
        Our ultimate goal is to make the lives of our customers better and their businesses more efficient.
                    </MudText>
                </div>
                <div class="d-flex py-4 mb-16 mb-md-0">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Class="mud-button-gradient-primary" Size="Size.Large" Href="/getting-started/installation">Get started</MudButton>
                    <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Class="ms-4" Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank">Star on GitHub</MudButton>
                </div>                
            </MudItem>
            <MudItem Class="relative" xs="12" md="7" lg="6">
                <MudImage Src="images/cover.svg" />
            </MudItem>
        </MudGrid>

