@page "/"

<PageTitle>Small Task Force</PageTitle>
<style>
    .landing-h1-gradient {
        background: linear-gradient(82deg,#594ae2 0%,#f69 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <MudGrid >
        <MudItem xs="12" sm="6">
                    <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Making Life</MudText>
                    <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true" Class="landing-h1-gradient">Simple & Easier<br /></MudText>
                    <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true">by Building</MudText>
                    <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Small Tasks.</MudText>
                    <div class="pl-1 my-4">
                        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">@Description</MudText>
                    </div>
                    <div class="d-flex py-4 mb-16 mb-md-0">
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Class="mud-button-gradient-primary" Size="Size.Large" Href="/getting-started/installation">Get started</MudButton>
                        <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Class="ms-4" Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank">Star on GitHub</MudButton>
                    </div>                
                </MudItem>
    
            <MudItem xs="12" sm="6">
                <MudImage Src="images/cover.svg" />
            </MudItem>
    
    
    </MudGrid>
</MudHidden>
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudText Class="d-flex justify-center" Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Making Life</MudText>
    <MudText Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true" Class="d-flex justify-center landing-h1-gradient">Simple & Easier<br /></MudText>
    <MudText Class="d-flex justify-center" Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1" Inline="true">by Building</MudText>
    <MudText Class="d-flex justify-center" Style="font-family:'Varela Round';font-size:4rem" Typo="Typo.h1">Small Tasks.</MudText>
    <div class="pl-1 my-4">
        <MudText Typo="Typo.subtitle1" Class="d-flex justify-center mud-text-secondary">@Description</MudText>
    </div>
    <div class="d-flex justify-center py-4 mb-16 mb-md-0">
        <MudButton Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true" Class="mud-button-gradient-primary" Size="Size.Large" Href="/getting-started/installation">Get started</MudButton>
        <MudButton Color="Color.Default" Variant="Variant.Outlined" StartIcon="@Icons.Custom.Brands.GitHub" Size="Size.Large" Class="ms-4" Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank">Star on GitHub</MudButton>
    </div>
</MudHidden>

<div Class="pt-16" id="software-development"></div>
<MudText Class="d-flex justify-center" Style="font-family:'Varela Round';font-size:3rem" Typo="Typo.h2">Software Development</MudText>
    <MudText Class="d-flex justify-center">
        At Small Task Force, we pride ourselves on offering top-notch custom software development services.
        From web applications to mobile applications, our team of skilled developers have the expertise
        to bring your ideas to life. We understand that every business has unique needs and goals, which is
        why we offer custom solutions tailored to your specific requirements. With our dedication to delivering
        top-quality products and exceptional customer service, you can trust us to handle all of your software
        development needs. Choose Small Task Force for a seamless and efficient development process that will
        take your business to the next level.
    </MudText>
