@page "/"

<PageTitle>Small Task Force</PageTitle>
<MudPaper Class="pa-16 ma-2" Elevation="3">
    <div Class="d-flex justify-center"><MudImage Style="max-width:80%;width:500px;" Src="images/stf-logo.svg"></MudImage></div>
    <MudText Style="font-family:Consolas;font-size:1.4rem;" Class="d-flex justify-center mb-8">Making life simple and easier by building small tasks.</MudText>


    <MudText Style="font-family:Consolas;font-size:1.4rem;">At STF, we understand that life can be busy and hectic. 
    That's why we offer smart home and automated solutions to help make life a little easier. 
    Our team of expert developers also provides custom software development for businesses, 
    aimed at increasing efficiency and streamlining processes. In addition, we offer mobile 
    and web app development to bring the convenience of technology to your fingertips. 
    Our ultimate goal is to make the lives of our customers better and their businesses more efficient.</MudText>
</MudPaper>
